@-webkit-keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes slideDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: scale(0.86);
        transform: scale(0.86)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: scale(0.86);
        transform: scale(0.86)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    -webkit-appearance: none;
    overflow: auto;
    height: 100%;
    width: 100%;
    color: var(--color);
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: var(--gradient);
    background-size: 400% 400%;
    -webkit-animation: gradient 15s ease infinite;
    animation: gradient 15s ease infinite;
    height: 100vh;
    transition: all .6s;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
}

.container {
    padding: 0 20px 20px 20px;
    margin: 0 auto
}

@media (min-width: 768px) {
    .container {
        max-width: 900px;
        padding: 0 30px 50px 30px
    }
}

.btn {
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 9px 13px;
    text-decoration: none;
    background: #f04;
    color: #fff
}

.btn--primary {
    background: #f04;
    color: #fff
}

.btn--lg {
    padding: 18px 26px
}

.helpers {
    position: relative;
    width: 100%;
}

.distract {
    color: var(--color);
    position: -webkit-relative; /* Safari */
    position: relative;
    margin: 0px 60%;
    background-color: rgb(117, 78, 153);
}
.distract:hover span {
    display: none;
}
.distract:hover:before {
    content: "Background too distracting? Click me.";
    display: flex;
    
}

@media (min-width: 768px) {
    .skill-tags {
        margin-left: 10px
    }
}

.skill-tag {
    background-color: gray;
    color: white;
    display: inline-block;
    padding: 4px 8px
}

.testimonial {
    border-left: 1px solid #f04;
    padding: 15px 15px
}

.testimonial p {
    margin-top: 0
}

.header-container__img {
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100
}

.lead {
    padding: 0px 0 100px
}

@media (min-width: 768px) {
    .lead {
        padding: 50px 0
    }
}

.lead__heading {
    -webkit-animation: slideUp 750ms both;
    animation: slideUp 750ms both;
    font-size: 40px
}

.infographic {
    text-align: center;
    color: var(--accent-color);
    /* Same trick as previously used to make circles */
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    padding: 80px 1em 0 1em;
    /* We make room for the "ears" of our cloud */
    margin: 50px 50px -50px;
    position: relative;
    background-color: var(--infographic-color);
    /* Well, actually we are not making a full circle
           as we want the bottom of our cloud to be flat.
           Feel free to tweak this example to make a cloud
           that isn't flat at the bottom ;) */
    border-radius: 100% 100% 0 0;
    transition: 0.3s;
}

@media (max-width: 900px) {
    .infographic {
        margin: 50px 70px -20px;
    }
}


/* Those are common style that apply to both our ::before
         and ::after pseudo elements. */

.infographic::before,
.infographic::after {
    /* This is required to be allowed to display the
           pseudo-elements, event if the value is an empty
           string */
    content: '';
    /* We position our pseudo-elements on the left and
           right sides of the box, but always at the bottom */
    position: absolute;
    bottom: 0;
    /* This makes sure our pseudo-elements will be below
           the box content whatever happens. */
    z-index: -1;
    background-color: var(--infographic-color);
    border-radius: 100%;
}

.infographic::before {
    /* This is the  size of the clouds left ear */
    width: 125px;
    height: 125px;
    /* We slightly move it to the left */
    left: -80px;
    /* To make sure that the bottom of the cloud
           remains flat, we must make the bottom right
           corner of the left ear square. */
    border-bottom-right-radius: 0;
    -webkit-transition: all .6s;
    transition: all .6s;

}

.infographic::after {
    /* This is the size of the clouds right ear */
    width: 100px;
    height: 100px;
    /* We slightly move it to the right */
    right: -60px;
    /* To make sure that the bottom of the cloud
           remains flat, we must make the bottom left
           corner of the right ear square. */
    border-bottom-left-radius: 0;
    -webkit-transition: all .6s;
    transition: all .6s;
}

.infographic:hover {
    background-color: var(--bulb-color);
    box-shadow: 0 0 30px var(--shine-color);
    border-radius: 50%;
    color: black;
    cursor: grab;
    transition: all .6s;
}

.infographic:hover article2 {
    -webkit-transition: all .6s;
    transition: all .6s;
    margin-bottom: 100px;
}

.infographic:hover::after {
    background-color: rgb(68, 68, 68);
    border-width: 0;
    width: 70px;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    margin-right: 70px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.infographic:hover::before {
    background-color: rgb(68, 68, 68);
    border-width: 0;
    width: 65px;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    margin-left: 88px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.infographic article {
    color: var(--color);
    font-size: 22px;
    -webkit-position: absolute;
    position: absolute;
    margin: -115px -78px;
}

.infographic article2 {
    font-size: 22px;
    -webkit-position: absolute;
    position: absolute;
    margin: -15px -35px;
}

@media (min-width: 460px) {
    .lead__heading {
        font-size: 55px;
        margin-top: 0;
    }
}

@media (min-width: 300px) {
    .profile {
        margin: 0 0 0 0 ;
        height: 150px;
        width: 150px;
        background: rgba(0,0,0,.4);
        position: relative;
    }
    .profile img {
        height: 150px;
        width: 150px;
        position: relative;
    }
}

.lead__sub {
    -webkit-animation: slideDown 750ms both;
    animation: slideDown 750ms both;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px
}

.call-to-action .btn {
    -webkit-animation: fadeIn 500ms both;
    animation: fadeIn 500ms both
}

.socials {
    margin-top: 10px
}

.socials__link {
    padding-right: 5px;
    color: inherit;
    text-decoration: none;
}

.project {
    overflow: hidden;
    margin-bottom: 30px;
    text-align: center
}
@media (min-width: 900px) {
    .profile {
        height: 200px;
        width: 200px;
        background: rgba(0,0,0,.4);
        position: relative;
    }
    .profile img {
        height: 200px;
        width: 200px;
        position: relative;
    }
}

@media (min-width: 768px) {
    .project {
        text-align: left
    }
    .profile {
        height: 200px;
        width: 200px;
        margin: 0px 0 0 0;
        position: relative;
    }
    .profile img {
        height: 200px;
        width: 200px;
        position: absolute;
    }
}

.project__img-container {
    margin: 0 auto;
    text-align: center;
    height: auto;
    width: 400px;
    line-height: 100px
}

@media (min-width: 768px) {
    .project__img-container {
        float: left;
        line-height: 300px;
        height: 300px;
        width: 300px
    }
}

.project__img {
    display: inline-block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    vertical-align: middle
}

.project__name {
    margin-bottom: 5px
}

.project__details {
    padding: 15px
}

@media (min-width: 768px) {
    .project__details {
        margin-left: 300px;
        margin-right: 0
    }
}

@media (min-width: 768px) {
    .project:nth-child(even) .project__img-container {
        float: right
    }
}

@media (min-width: 768px) {
    .project:nth-child(even) .project__details {
        margin-left: 0;
        margin-right: 300px
    }
}

.timeline {
    position: relative
}

.timeline__line {
    width: 1px;
    background: var(--alt-color);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%
}

@media (min-width: 768px) {
    .timeline__line {
        left: 50%
    }
}

.timeline__item {
    -webkit-animation: slideUp 750ms both;
    animation: slideUp 750ms both;
    border: 1px solid var(--alt-color);
    border-top: 2px solid #f04;
    color: var(--alt-color);
    display: inline-block;
    font-size: 13px;
    padding: 20px;
    position: relative;
    vertical-align: top;
    width: 97%
}

@media (min-width: 768px) {
    .timeline__item {
        width: 46%
    }
}

.timeline__item:after {
    height: 1px;
    top: 0;
    background-color: var(--alt-color);
    content: '';
    display: block;
    left: inherit;
    position: absolute;
    right: -4%;
    width: 4%
}

@media (min-width: 768px) {
    .timeline__item:after {
        right: -9%;
        width: 9%
    }
}

.timeline__item:nth-child(odd) {
    margin-top: 20px;
    margin-bottom: -100px
}

@media (min-width: 768px) {
    .timeline__item:nth-child(odd) {
        margin-top: 160px;
        margin-left: 7%
    }
    .timeline__item:nth-child(odd):after {
        left: -8%;
        width: 8%
    }
}

.timeline__item:last-of-type {
    margin-bottom: 0
}

.experience {
    color: var(--color);
}

.experience__header {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--alt-color)
}

.experience__name {
    margin: 0
}

.contact {
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #505050;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.contact h2 {
    text-align: center;
}

.contact a {
    color: var(--link-color);
}

.contact a:link {
    text-decoration: none;
}

.contact a:visited {
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

.contact a:active {
    text-decoration: underline;
}

.contact__msg {
    line-height: 24px
}

.footer {
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3em;
    background-color: var(--alt-color);
    color: #fff;
    text-align: center;
    padding: 20px 0
}

.footer__name {
    margin-top: 0;
    margin-bottom: 0
}

.footer__title {
    margin-top: 0;
    color: #f04
}