@-webkit-keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes slideDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: scale(0.86);
        transform: scale(0.86)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: scale(0.86);
        transform: scale(0.86)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

:root {
    color-scheme: light dark;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
    color: var(--color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
}

.container {
    padding: 0 20px 20px 20px;
    margin: 0 auto
}

@media (min-width: 768px) {
    .container {
        max-width: 900px;
        padding: 0 30px 50px 30px
    }
}

.btn {
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 9px 13px;
    text-decoration: none;
    background: #f04;
    color: #fff
}

.btn--primary {
    background: #f04;
    color: #fff
}

.btn--lg {
    padding: 18px 26px
}

@media (min-width: 768px) {
    .skill-tags {
        margin-left: 10px
    }
}

.skill-tag {
    background-color: gray;
    display: inline-block;
    padding: 4px 8px
}

.testimonial {
    border-left: 1px solid #f04;
    padding: 15px 15px
}

.testimonial p {
    margin-top: 0
}

.header-container__img {
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100
}

.lead {
    padding: 30px 0 100px
}

@media (min-width: 768px) {
    .lead {
        padding: 115px 0
    }
    .backgroundimg {
        visibility: visible;
    }
}

.lead__heading {
    -webkit-animation: slideUp 750ms both;
    animation: slideUp 750ms both;
    font-size: 40px
}

@media (min-width: 460px) {
    .lead__heading {
        font-size: 55px
    }
    .header-img {
        margin: auto;
        width: 15em;
        height: 15em;
        position: relative;
        margin-bottom: -6em;
    }
    .backgroundimg {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height:auto;
        width: 100%;
        position: fixed;
        z-index: -10;
    }
}

.lead__sub {
    -webkit-animation: slideDown 750ms both;
    animation: slideDown 750ms both;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px
}

.call-to-action .btn {
    -webkit-animation: fadeIn 500ms both;
    animation: fadeIn 500ms both
}

.socials {
    margin-top: 10px
}

.socials__link {
    color: inherit;
    text-decoration: none
}

.project {
    overflow: hidden;
    margin-bottom: 30px;
    text-align: center
}

@media (min-width: 768px) {
    .project {
        text-align: left
    }
    .header-img {
        margin: auto;
        margin-bottom: -10em;
    }
    .backgroundimg {
        visibility: visible;
    }
}

.project__img-container {
    margin: 0 auto;
    text-align: center;
    height: auto;
    width: 400px;
    line-height: 100px
}

@media (min-width: 768px) {
    .project__img-container {
        float: left;
        line-height: 300px;
        height: 300px;
        width: 300px
    }
}

.project__img {
    display: inline-block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    vertical-align: middle
}

.project__name {
    margin-bottom: 5px
}

.project__details {
    padding: 15px
}

@media (min-width: 768px) {
    .project__details {
        margin-left: 300px;
        margin-right: 0
    }
}

@media (min-width: 768px) {
    .project:nth-child(even) .project__img-container {
        float: right
    }
}

@media (min-width: 768px) {
    .project:nth-child(even) .project__details {
        margin-left: 0;
        margin-right: 300px
    }
}

.timeline {
    position: relative
}

.timeline__line {
    width: 1px;
    background: #eaeaea;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%
}

@media (min-width: 768px) {
    .timeline__line {
        left: 50%
    }
}

.timeline__item {
    -webkit-animation: slideUp 750ms both;
    animation: slideUp 750ms both;
    border: 1px solid #eaeaea;
    border-top: 2px solid #f04;
    color: rgb(206, 206, 206);
    display: inline-block;
    font-size: 13px;
    padding: 20px;
    position: relative;
    vertical-align: top;
    width: 97%
}

@media (min-width: 768px) {
    .timeline__item {
        width: 46%
    }
}

.timeline__item:after {
    height: 1px;
    top: 0;
    background-color: #eaeaea;
    content: '';
    display: block;
    left: inherit;
    position: absolute;
    right: -4%;
    width: 4%
}

@media (min-width: 768px) {
    .timeline__item:after {
        right: -9%;
        width: 9%
    }
}

.timeline__item:nth-child(odd) {
    margin-top: 20px;
    margin-bottom: -100px
}

@media (min-width: 768px) {
    .timeline__item:nth-child(odd) {
        margin-top: 160px;
        margin-left: 7%
    }
    .timeline__item:nth-child(odd):after {
        left: -8%;
        width: 8%
    }
}

.timeline__item:last-of-type {
    margin-bottom: 0
}

.experience__header {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea
}

.experience__name {
    margin: 0
}

.contact {
    padding: 10px;
    border-radius: 10px;
    background-color: #505050;
    text-decoration-color: mediumpurple;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.contact h2 {
    text-align: center;
}

.contact a:link {
    text-decoration: none;
}

.contact a:visited {
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

.contact a:active {
    text-decoration: underline;
}

.contact__msg {
    line-height: 24px
}

.footer {
    margin-left: 19em;
    margin-right: 19em;
    margin-bottom: 3em;
    background-color: #123c429d;
    color: #fff;
    text-align: center;
    padding: 20px 0
}

.footer__name {
    margin-top: 0;
    margin-bottom: 0
}

.footer__title {
    margin-top: 0;
    color: #f04
}