canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.828);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

a {
  color: rgb(99, 201, 227);
  text-decoration: none;
}

a.top {
  transition: 0.3s;
  text-decoration: underline;
}

a.top.themeit {
  color: rgb(17, 209, 40);
}

a.top.textadventure {
  color: rgb(17, 209, 206);
}

a.top:hover {
  transition: 0.3s;
  color: rgb(189, 244, 255);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 500;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (min-width: 300px) {
  header {
    border-radius: 25px;
    background: var(--dark-bg);
    width: fit-content;
    grid-column: 2 / span 4;
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: var(--spacing);
  }

  section {
    border-radius: 25px;
    grid-column: 2 / auto;
    padding: 10px;
    background: var(--dark-bg);
    width: auto;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    background-color: #000000c4;
    border-radius: 25px;
    margin: 0;
    padding: 1em;
    grid-column: 2 / auto;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: #fff;
    background-color: transparent;
    font-size: 1rem !important;
    display: inline;
    line-height: 1;
  }

  h3.desc span {
    font-size: 1rem;
  }

  .left {
    display: inline-block;
  }
}

@media screen and (min-width: 568px) {
  header {
    border-radius: 25px;
    background: var(--dark-bg);
    width: fit-content;
    grid-column: 2 / span 4;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    border-radius: 25px;
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    background-color: #000000c4;
    border-radius: 25px;
    margin: 0;
    padding: 1em;
    grid-column: 2 / 8;
    margin-bottom: var(--spacing);
  }
}

h3.desc {
  color: #ffffff;
  font-weight: 200;
}

h3.desc span {
  color: rgb(127, 202, 255);
  font-weight: 500;
}

blockquote p {
  color: #fff;
  background-color: transparent;
  font-size: 1.5rem;
  display: inline;
  line-height: 1;
}

.left {
  width: 100%;
}

.left p {
  color: aquamarine;
}

.project_img {
  width: 100%;
  height: auto;
  max-height: 60vh;
}

.project_img.themeit {
  border: #76f14194 2px solid;
}

.project_img.textadventure {
  border: #41f1eb94 2px solid;
}

grid {
  height: 5vh;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  padding-bottom: 20px;
}

grid-item {
  height: 100%;
  width: auto;
}

article {
  padding: 20px;
  margin-bottom: 20px;
}

/* CSS */
.button {
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: auto;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button.resume {
  background-image: linear-gradient(144deg, #ff4d40, #5B42F3 50%, #e700eb);
}

.button.experience {
  background-image: linear-gradient(144deg, #d940ff, #4e42f3 50%, #00d8eb);
}

.button.projects {
  background-image: linear-gradient(144deg, #40d2ff, #42f35a 50%, #e3eb00);
}

.button:active,
.button:hover {
  outline: 0;
}

.button span {
  text-align: center;
  background-color: rgb(5, 6, 45);
  padding: 16px 1.8vw;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button {
    font-size: 24px;
    min-width: 196px;
  }
}

.icon.youtube a {
  font-weight: 500;
  color: rgb(108, 108, 108);
}

.icon.youtube a span {
  transition: 0.5s;
  font-weight: 600;
  color: #c90707;
}

.icon.youtube a:hover {
  cursor: pointer;
  color: rgb(169, 245, 144);
}

.icon.youtube a:hover span {
  cursor: pointer;
  transition: 0.5s;
  color: #50dc38;
}

/* Footer */

#footer {
  color: #7c8081;
  text-align: center;
}

#footer .copyright {
  font-size: 0.8em;
  line-height: 1em;
}

#footer .copyright a {
  color: inherit;
}

#footer .copyright li {
  display: inline-block;
  margin-left: 1em;
  padding-left: 1em;
  border-left: dotted 1px;
}

#footer .copyright li:first-child {
  margin: 0;
  padding: 0;
  border: 0;
}